@font-face {
  font-family: 'Saitamaar';
  src: local('Saitamaar'),
  url('fonts/Saitamaar.eot') format('eot'),
  url('fonts/Saitamaar.woff2') format('woff2'),
  url('fonts/Saitamaar.woff') format('woff'),
  url('fonts/Saitamaar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.aa {
  line-height: 100%;
  font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'MS Pｺﾞｼｯｸ', 'MS Pゴシック', ＭＳＰゴシック, MSPゴシック, IPAMonaPGothic, 'IPA モナー Pゴシック', 'IPA mona PGothic', 'IPA MONAPGOTHIC', Mona, Monapo, Saitamaar, sans-serif;
}

.ivrit {
  line-height: 100%;
  font-family: 'Courier New', Consolas, 'Inconsolata', monospace;
}
